{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"]
}
